<link href="~/css/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/css/DataTables/css/jquery.dataTables.css" rel="stylesheet" />

<script src="~/lib/DataTables/jquery.dataTables.js"></script>
<script src="~/lib/DataTables/dataTables.bootstrap.js"></script>

<div id="courses_wraper" class="row">
  <h3>Java map</h3>
  <table id="java" class="display">
    <thead>
      <tr>
        <th>Level</th>
        <th>Name</th>
        <th>Description</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>1 Beginner</td>
        <td>Java Programming Fundamentals</td>
        <td>Your career as a program developer starts here. Gain entry-level programing skills in Java language, and prepare yourself to handle any task that is required in any programming job.</td>
        <td><a href="https://www.edx.org/course/java-programming-fundamentals" target="_blank">Link</a></td>
      </tr>
      <tr>
        <td>2 Intermediate</td>
        <td>Software Construction in Java</td>
        <td>Learn how to write programs that are safe from bugs, easy to understand, and ready for change.</td>
        <td><a href="https://www.edx.org/course/software-construction-in-java" target="_blank">Link</a></td>
      </tr>
      <tr>
        <td>3 Expert</td>
        <td>Advanced Software Construction in Java</td>
        <td>Learn how to write programs that are safe from bugs, easy to understand, and ready for change.</td>
        <td><a href="https://www.edx.org/course/advanced-software-construction-in-java" target="_blank">Link</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="courses_wraper" class="row">
  <h3>Python map</h3>
  <table id="python" class="display">
    <thead>
      <tr>
        <th>Level</th>
        <th>Name</th>
        <th>Description</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 Beginner</td>
        <td>Introduction to Python: Absolute Beginner</td>
        <td>In this course that's perfect for true beginners, learn Python basics and start coding right away.</td>
        <td><a href="https://www.edx.org/course/introduction-to-python-absolute-beginner-2" target="_blank">Link</a></td>
      </tr>
      <tr>
        <td>2 Intermediate</td>
        <td>Python for Data Science</td>
        <td>Learn to use powerful, open-source, Python tools, including Pandas, Git and Matplotlib, to manipulate, analyze, and visualize complex datasets.</td>
        <td><a href="https://www.edx.org/course/python-for-data-science-2" target="_blank">Link</a></td>
      </tr>
      <tr>
        <td>3 Expert</td>
        <td>Probability and Statistics in Data Science using Python</td>
        <td>Using Python, learn statistical and probabilistic approaches to understand and gain insights from data.</td>
        <td><a href="https://www.edx.org/course/probability-and-statistics-in-data-science-using-p" target="_blank">Link</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="courses_wraper" class="row">
  <h3>PHP Laravel map</h3>
  <table id="php" class="display">
    <thead>
      <tr>
        <th>Level</th>
        <th>Name</th>
        <th>Description</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 Beginner</td>
        <td>Laravel for Beginners: Make Blog in Laravel 5.2</td>
        <td>Make Blog in latest version of Laravel</td>
        <td><a href="https://www.udemy.com/course/laravel-for-beginners-make-blog-in-laravel-5-2/" target="_blank">Link</a></td>
      </tr>
      <tr>
        <td>2 Intermediate</td>
        <td>How to Build a Follow UnFollow System In PHP using Laravel</td>
        <td>Learn how to partialiy refresh a page and setup realtime notification using axios.</td>
        <td><a href="https://www.udemy.com/course/how-to-build-a-follow-unfollow-system-with-laravel/" target="_blank">Link</a></td>
      </tr>
      <tr>
        <td>3 Expert</td>
        <td>Laravel E-Commerce Restful API</td>
        <td>Know what is Rest concept and how to create a RESTFUL API with Laravel Resource</td>
        <td><a href="https://www.udemy.com/course/laravel-e-commerce-restful-api/" target="_blank">Link</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="courses_wraper" class="row">
  <h3>C# map</h3>
  <table id="csharp" class="display">
    <thead>
      <tr>
        <th>Level</th>
        <th>Name</th>
        <th>Description</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 Beginner</td>
        <td>Introduction to C# Programming and Unity</td>
        <td>This course is all about starting to learn how to develop video games using the C# programming language and the Unity game engine on Windows or Mac. Why use C# and Unity instead of some other language and game engine? Well, C# is a really good language for learning how to program and then programming professionally. Also, the Unity game engine is very popular with indie game developers; Unity games were downloaded 16,000,000,000 times in 2016! Finally, C# is one of the programming languages you can use in the Unity environment.</td>
        <td><a href="https://www.coursera.org/learn/introduction-programming-unity" target="_blank">Link</a></td>
      </tr>
      <tr>
        <td>2 Intermediate</td>
        <td>More C# Programming and Unity</td>
        <td>This course is the second course in the specialization about learning how to develop video games using the C# programming language and the Unity game engine on Windows or Mac. Why use C# and Unity instead of some other language and game engine? Well, C# is a really good language for learning how to program and then programming professionally. Also, the Unity game engine is very popular with indie game developers; Unity games were downloaded 16,000,000,000 times in 2016! Finally, C# is one of the programming languages you can use in the Unity environment.</td>
        <td><a href="https://www.coursera.org/learn/more-programming-unity" target="_blank">Link</a></td>
      </tr>
      <tr>
        <td>3 Expert</td>
        <td>Unity Expert Gameplay Programmer Certification Preparation Specialization</td>
        <td>This Specialization is intended for industry game developers or very experienced Unity enthusiasts who are looking to “level-up” their gameplay programming and implementation strategies. You should have at least 2-3 years of experience developing games with Unity, be familiar with the full-game lifecycle (working from early concept to launch), creating and working with Prefabs, understanding game asset and animation pipelines, and have some experience with Unity Services. You should also have advanced programming skills, particularly in the C# language.</td>
        <td><a href="https://www.coursera.org/specializations/unity-gameplay-programmer" target="_blank">Link</a></td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    $('#java').DataTable({
      "lengthMenu": [1]
    });
    $('#python').DataTable({
      "lengthMenu": [1]
    });
    $('#php').DataTable({
      "lengthMenu": [1]
    });
    $('#csharp').DataTable({
      "lengthMenu": [1]
    });
  });
</script>
