@{ Layout = "/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Home Page"; }

<div class="jumbotron">
  <h1>Grupa 6</h1>
  <p class="lead">Projekat na temu E-learning platforma</p>
  <p><a href="https://github.com/ProjekatELearningPlatforma/e_learning_platforma_grupa6" class="btn btn-primary btn-large" target="_blank">GitHub &raquo;</a></p>
</div>

<div class="row">
  <H2 class="text-center">content</H2>
</div>
